<div class="container-fluid" style="padding: 0; margin: 0;">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Gestion Taxe</a>
    <div class="collapse navbar-collapse ml-5" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Accueil <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Configuration
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/quartiers" routerLinkActive="active">Quartiers</a>
            <a class="dropdown-item" routerLink="/rues" routerLinkActive="active">Rues</a>
            <a class="dropdown-item" routerLink="/categories" routerLinkActive="active">Catégories</a>
            <a class="dropdown-item" href="/redevables">Redevables</a>
            <a class="dropdown-item" routerLink="/locales" routerLinkActive="active">Locales</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Paramètres
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown2">
            <a class="dropdown-item" href="#">Utilisateurs</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>
